<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          Turn Email Notification On/Off&nbsp;
          <label class="switch">
            <input type="checkbox" [checked]="notificationsetting" (change)="changeNotificationSetting($event)">
            <span class="slider round"></span>
          </label>
        </h5>
        <h6>Turning notification On will email you once the task due is below 1 day.</h6>
      </div>


    </div>
  </div>
</div>