
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="https://github.com/longthb3112/MWA-project" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo.png">
      </div>
    </a>
    <a href="https://github.com/longthb3112/MWA-project" class="simple-text logo-normal">
      PTM
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <!-- <li routerLinkActive="active">
            <a [routerLink]="{ path: '/users'}">
              <i class="nc-icon nc-badge"></i>
              <p>Users</p>
            </a>
        </li> -->
        <li>
          <a href="" (click)="signOut()">
            <i class="nc-icon nc-button-power"></i>
            <p>Sign Out</p>
        </a>
        </li>
    </ul>
</div>
