<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">

                <h4 class="card-title" style="float:left"> User List</h4>

                <form [formGroup]="searchForm" (ngSubmit)="search()" style="float:right">
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search..."
                            formControlName="searchname">
                        <div class="input-group-append">
                            <div class="input-group-text" style="cursor: pointer;" (click)="search()">
                                <i class="nc-icon nc-zoom-split"></i>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
            <div *ngIf="dataSource">
                <div style="position: relative;width:100%;">
                    <span *ngIf="!dataSource.length"
                        style="color:rgb(255, 0, 0); width:50%; display:block; position: relative; margin:0 auto; font-size: 3em;">
                        NO
                        DATA
                        TO
                        DISPLAY</span>
                </div>
                <div *ngIf="dataSource.length" class="card-body">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <!-- Position Column -->
                        <ng-container matColumnDef="uname">
                            <th mat-header-cell *matHeaderCellDef> User Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fname">
                            <th mat-header-cell *matHeaderCellDef> First Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="lname">
                            <th mat-header-cell *matHeaderCellDef> Last Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Description </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.description? (element.description | truncate:15) :'...'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Action </th>
                            <td mat-cell *matCellDef="let row">
                                <!-- <button mat-button (click)="deleteTask(row)">Delete</button>
                            <button mat-button (click)="updateTask(row)">Update</button> -->
                                <label class="switch">
                                    <input type="checkbox" [checked]="row.accountStatus"
                                        (change)="toggleAccountStatus($event,row._id,row.accountStatus)" [value]="row">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>